.product{
    display:flex;
    background:#f84b4b;
    width:100%;
    height:100px;
    margin:100px 0px 0px 0px;
    align-items: center;
    justify-content: space-around;
}
.abc {
    display: flex;
    color:white;
    align-items: center;
}
