.Name {
    background: blanchedalmond;
    display: flex;
    height:550px;
    align-items: center;
    justify-content: center;

}
.next1 {
    width:45%;
    height:275px;
    background:white;
    margin: 0px 15px 0px 0px;
    padding: 0px 0px 0px 20px;
}
.next2 {
    display: flex;
    justify-content: space-evenly;
    width:35%;
    height:275px;
    background:#f84b4b;
    margin: 0px 0px 15px 0px;
}